body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{ 
    flex: 1 0 auto;
}

/*Blog Post*/

.blog-post{
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #c2c0c2;
    font-style:oblique;
}