<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/mbPA.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav class="grey">
                <div class="nav-wrapper">
                   
                    <ul class="left">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="admin.html">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    <main>
        <div class="container">
            <div class="row">
                <h1 class="center-align">Tasks</h1>
            </div>
            <div class="row">
                <div class="col s12 main-container">
                    
                </div>
            </div>
        </div>   
    </main>
        <footer class="page-footer purple lighten-5">
            <div class="center-align">
                <p><a href="#">Back to top</a></p>
            </div>
            <div class="footer-copyright purple lighten-4">
                <div class="center-align">
                    @2016 Densel Martin
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/mbPA.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
   
      <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
            <div class="blog-post">
                <h2 class="blog-post-title">{{title}}</h2>
                <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
                <div>{{content}}</div>
                <button class="btn btn-large waves-effect waves-light darken-1 blue white-out-post"> cheeck as complete</button>
                <button class="btn btn-large waves-effect waves-light darken-1 trash blue" type="submit" name"action" data={{objectId}}>delete</button>
            </div>
          {{/each}}
      </script>
      <script id="check-done-template" type="text/x-handlebars-template">
                          <div class="white-text">
                          <h4 class="blog-post-meta italic"> This task list has been marked</h4>
                          <button class="btn btn-small waves-effect waves-light white-in-post orange"><a href="index.html"> uncheck </a></button
                          <button class="btn btn-small waves-effect waves-light white-in-post orange"> log in </button>
                  </div>
      </script>
    </body>
  </html>
